.tooltip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    padding-bottom:1px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
  }

  /* Creates a small triangle extender for the tooltip */
.tooltip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

circle:hover {
    fill: green;
    opacity:1;

}
